

div .custom-padding{
  padding: 25px 0px 0px 20px;
}

div .plus-padding{
  padding: 25px 0px 0px 64px;
}

.carousel-new {
  margin-bottom: 20px;
}

.carousel-control,
.item {
  border-radius: 4px;
}
.slide-image {
  width: 100%;
}

.caption {
  height: 140px;
  overflow: hidden;
}

.caption h4 {
  white-space: nowrap;
}

.thumbnail img {
  width: 100%;
}

.ratings {
  padding-right: 10px;
  padding-left: 10px;
  color: #d17581;
}

.thumbnail {
  padding:0;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

footer {
  margin: 50px 0;
}

.top-buffer {
  margin-top:20px;
}

.btn-product{
  width: 100%;
}

.product-head{
  padding: 14px 20px;
  margin: 0 0 20px;
  font-size: 24px;
  background: #252a2f;
  color: #fff;
  text-transform: uppercase;
}