<div class="container">
    <div class="row" style="background: orange;margin-top: 60px;height:50px; font-family: 'Lucida Grande'">
        <div class="welcome" style="margin-top: 15px;margin-left: 20px">
            Welcome to an unique Shopping Simualtion. ENJOY.
        </div>
    </div>
</div>

<img class="fullwidth" src='http://s29.postimg.org/mtxcjfibb/headphones.jpg' alt="Smiley face" height="800" width="1676">
<!--<div class="container">
    <div class="row col-sm-10 fullwidth" style="background: black">
        <div class="welcome"> Name: Srujan </div>
    </div>
</div>-->


