<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Forms</h1>
		           <ul class="nav nav-tabs">
 		 			    <li><a href="forms.html">Forms</a></li>
 					    <li class="active"><a data-toggle="tab" href="#fields">Fields</a></li> 
				    </ul> 
				   <div class="tab-content">
		           <div id= "fields" class="row">
                   <div class = "col-xs-6">
                   <div class="form-group" >
                     <label for="InputText">FirstName</label>
                      <input type="text" class="form-control" id="InputText" placeholder="Firstname">
                   </div>
                 </div>
               <div class = "col-xs-6 custom-padding">
                 <button type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                 </button>
                 
                 <button type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                 </button>
                 
                 <button type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                 </button>
                  
                 <button type="button" class="btn btn-default" aria-label="Left Align">
                     <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                 </button>
               </div>
            </div>
            <div id= "fields" class="row">
              <div class = "col-xs-6">
                <div class="form-group" >
                  <label for="InputText">LastName</label>
                    <input type="text" class="form-control" id="InputText" placeholder="Lastname">
                </div>
              </div>
              <div class = "col-xs-6 custom-padding">
                 <button type="button" class="btn btn-default" aria-label="Left Align">
                     <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                 </button>
                 
                 <button type="button" class="btn btn-default" aria-label="Left Align">
                     <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                 </button>
                              
                 <button type="button" class="btn btn-default" aria-label="Left Align">
                           <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                 </button>
                  
                 <button type="button" class="btn btn-default" aria-label="Left Align">
                     <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                 </button>
              </div>
            </div>
		        <div id= "fields" class="row">
               <div class = "col-xs-6">
                 <div class="form-group" >
                   <label for="InputDate">Date</label>
                     <input type="date" class="form-control" id="InputDate" placeholder="Select Date" multiple>
                 </div>
                </div>
               <div class = "col-xs-6 custom-padding">
                 <button type="button" class="btn btn-default" aria-label="Left Align">
                     <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                 </button>
                 
                 <button type="button" class="btn btn-default" aria-label="Left Align">
                     <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                 </button>
                                
                 <button type="button" class="btn btn-default" aria-label="Left Align">
                           <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                 </button>
                  
                 <button type="button" class="btn btn-default" aria-label="Left Align">
                     <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                 </button>
             </div>
           </div>
     	   </div>
         <div id= "fields" class="row">
           <div class = "col-xs-6">
              <div class="form-group" >
                  <label for="InputGender">Gender</label>
                    <br>
                    <select class="form-control" style="width:100%;">
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                    </select>
                    <!--<input type="text" class="form-control" id="InputGender" placeholder="Male" multiple>-->
              </div>
            </div>
            <div class = "col-xs-6 custom-padding">
                 <button type="button" class="btn btn-default" aria-label="Left Align">
                     <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                 </button>
                 
                 <button type="button" class="btn btn-default" aria-label="Left Align">
                     <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                 </button>
                                
                 <button type="button" class="btn btn-default" aria-label="Left Align">
                           <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                 </button>
                  
                 <button type="button" class="btn btn-default" aria-label="Left Align">
                     <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                 </button>
             </div>
          </div>
     	    <div id= "fields" class="row">
            <div class = "col-xs-6">
              <h5>Roles:</h5>
                 <div class="checkbox">
                    <label><input type="checkbox" value="" checked="checked">Admin</label>
                 </div>
                 <div class="checkbox">
                    <label><input type="checkbox" value="">Student</label>
                 </div>
                 <div class="checkbox">
                    <label><input type="checkbox" value="" checked="checked">User</label>
                 </div>
             </div>
             <div class = "col-xs-6 custom-padding">
                 <button type="button" class="btn btn-default" aria-label="Left Align">
                      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                 </button>
                 
                 <button type="button" class="btn btn-default" aria-label="Left Align">
                     <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                 </button>
                                 
                 <button type="button" class="btn btn-default" aria-label="Left Align">
                           <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                 </button>
                  
                 <button type="button" class="btn btn-default" aria-label="Left Align">
                     <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                 </button>
            </div>
          </div>
          <div id= "fields" class="row">
            <div class = "col-xs-6">
              <h5>License Agreement:</h5>
                 <div class="radio">
                    <label><input type="radio" name="optradio" checked="checked">Yes</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="optradio">No</label>
                  </div>
             </div>
              <div class = "col-xs-6 custom-padding">
                 <button type="button" class="btn btn-default" aria-label="Left Align">
                     <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                 </button>
                 
                 <button type="button" class="btn btn-default" aria-label="Left Align">
                     <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                 </button>
                        
                 <button type="button" class="btn btn-default" aria-label="Left Align">
                           <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                 </button>
                  
                 <button type="button" class="btn btn-default" aria-label="Left Align">
                     <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                 </button>
              </div>
          </div>
          
          <div id= "fields" class="row">
            <div class = "col-xs-6">
              <div class="form-group" >
                    <label for="InputGender">Add New Field</label>
                    <br>
                    <select class="form-control" style="width:100%;">
                      <option value="Single Line Text">Single Line Text</option>
                      <option value="Date">Date</option>
                      <option value="Dropdown">Dropdown</option>
                      <option value="CheckBox">CheckBox</option>
                      <option value="Radio Buttons">Radio Buttons</option>
                      <option value="Paragraph Text Field">Paragraph Text Field</option>
                    </select>
                    <!--<input type="text" class="form-control" id="InputGender" placeholder="Male" multiple>-->
              </div>
            </div>
            <div class = "col-xs-6 plus-padding">
                 <button type="button" class="btn btn-default" aria-label="Left Align">
                     <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                 </button>
            </div>
          </div>
     	  </div>
     </div>