<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="" ng-click="scrollTo('#page-top')">CARNET</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="" ng-click="scrollTo('#page-top')"></a>
                </li>
                <li ng-hide="access_token">
                    <a class="page-scroll" href="" ng-click="login()">Login</a>
                </li>
                <li ng-show="access_token">
                    <a class="page-scroll" href="" ng-click="logout()">Logout</a>
                </li>
                <li ng-hide="access_token">
                    <a class="page-scroll" href="" ng-click="signUp()">Sign Up</a>
                </li>
                <li ng-show="access_token">
                    <a class="page-scroll" href="" ng-click="createTrip()">Create Trip</a>
                </li>
                <li ng-show="access_token">
                    <a class="page-scroll" href="" ng-click="viewMyProfile()">My Profile</a>
                </li>
                <li>
                    <a class="page-scroll" href="" ng-click="scrollTo('#services')">Services</a>
                </li>
                <li>
                    <a class="page-scroll" href="" ng-click="scrollTo('#about')">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="" ng-click="scrollTo('#team')">Team</a>
                </li>
                <li>
                    <a class="page-scroll" href="" ng-click="scrollTo('#contact')">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">It's better together!</div>
            <div class="intro-heading">Thanks for a greener tomorrow</div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-1"></div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-autocomplete ng-model="origin" placeholder="Commute from:" required>
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" ng-click="locate()"><img src="img/icons/findIcon.png" alt="findIcon" width="15" height="18" /></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-autocomplete ng-model="destination" placeholder="Commute to:" required>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Date" datepicker-popup="{{format}}" ng-model="date" is-open="opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <button class="btn btn-primary form-control" ng-click="search()">Search</button>
                            </div>
                        </div>

                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
            <!--<a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>-->
            <!--<a id="login" class="page-scroll btn btn-xl">Login</a>-->
        </div>
    </div>
</header>

<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <h3 class="section-subheading text-muted">Thank you for your interest</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-cab fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Make new friends</h4>
                <p class="text-muted">Carnet connects you with verified drivers going your way at the same time so you can start carpooling in a matter of minutes. Get to meet your neighbors and colleagues as you zip around in the lane.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Affordable</h4>
                <p class="text-muted">You save money by sharing a ride with people who travel in the same direction. Thanks to user profiles, you know who you're traveling with. At Carnet, I want to move the world - safer and greener.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Ratings</h4>
                <p class="text-muted">You've got the power to influence the community. You rate drivers. If you rate someone 1 star, I will review their profile. Carnet community sets a high bar for all our drivers.</p>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="about" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">So, you need a ride!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Choose Your Destination</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Use the HomePage to let us know where you want to go. Don't worry we won't store your data.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Review Matching Carpools</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">This website shows you trips that will be happening in the next few minutes that match your travel requirement.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>View Profile</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Get to know before you carpool. People who use Carnet are your colleagues and neighbors who want to meet new people and make new friends.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Book Your Ride</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Download Carma App to complete the booking</p>
                                <a class="page-scroll btn btn-xl" ng-click="download()">Download</a>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Be Part
                                <br>Of Our
                                <br>Story!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Team Section -->
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Lone Survivor</h2>
                <h3 class="section-subheading text-muted">Thanks to Prof. Jose for being supportive</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/2.jpg" class="img-circle fa-rotate-90" alt="Avatar" width="240" height="200">
                    <h4>Adib Alwani</h4>
                    <p class="text-muted">Creator</p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://github.com/adibalwani/CS5610-adib" target="_blank"><i class="fa fa-github"></i></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/adib.alwani" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/adibalwani" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">Graduate student in Computer Science at Northeastern University.<br /> <b>Keep your surroundings clean make the earth green.</b></p>
            </div>
        </div>
    </div>
</section>

<aside class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="http://www.envato.com/" target="_blank">
                    <img src="img/logos/envato.jpg" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="http://designmodo.com/" target="_blank">
                    <img src="img/logos/designmodo.jpg" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="http://themeforest.net/" target="_blank">
                    <img src="img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="https://creativemarket.com/" target="_blank">
                    <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                </a>
            </div>
        </div>
    </div>
</aside>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Me</h2>
                <h3 class="section-subheading text-muted">I would love to hear from you</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Name * (Anonymous if not provided)" ng-model="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Your Email *" ng-model="email" required data-validation-required-message="Please enter your email address.">
                                <p ng-show="failEmail" class="help-block text-danger">{{failEmail}}</p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Your Phone * (Anonymous if not provided)" ng-model="phoneNumber" required data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control resize-none" placeholder="Your Message *" ng-model="message" required data-validation-required-message="Please enter a message."></textarea>
                                <p ng-show="failMessage" class="help-block text-danger">{{failMessage}}</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" ng-click="sendEmail()" class="btn btn-xl">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; CARNET 2015</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li>
                        <a href="https://www.facebook.com/adib.alwani" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/adibalwani/CS5610-adib" target="_blank"><i class="fa fa-github"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/adibalwani" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li>
                        <a href="http://en.wikipedia.org/wiki/Privacy_policy" target="_blank">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="http://opensource.org/licenses/MIT" target="_blank">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Plugin JavaScript -->
<script src="lib/classie.js"></script>
<script src="lib/cbpAnimatedHeader.js"></script>